::-webkit-scrollbar {
  width: 0px;
}

.container {
  display: flex;
  overflow-x: scroll;
  width: 100%;
  padding: 50px 0;
  border-radius: 20px;
}

.card {
  flex-shrink: 0;
  width: 400px;
  height: 400px;
  border-radius: 20px;
  margin-left: 10px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
